<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100724612618-d17pbon2pv6bm9vodcsei2ehbp5bn2vf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100724612618-d17pbon2pv6bm9vodcsei2ehbp5bn2vf</string>
	<key>API_KEY</key>
	<string>AIzaSyDWjvtl7opThDB11JCvsEBhXotEb-0ZNDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>100724612618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>charlie-6d4ab</string>
	<key>STORAGE_BUCKET</key>
	<string>charlie-6d4ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100724612618:ios:377022ae0e69ab158189f3</string>
</dict>
</plist>